#footer	{
	background-color: #000000;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#footer_inner {
	padding: 2px 10px;
}

#footer p {
	color: #ffffff;
	font-size: 0.75em;
	margin: 0;
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
}
