#top {
	margin-top: 10px;
}

#header	{
	height: 112px;
	background-image: url(../img/custmer2.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 20px 3px;
	text-align: right;
	border: solid 1px gray;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#header_inner1	{padding: 10px 30px;}
#header_inner2	{padding: 0px 20px;}
#header_inner3	{text-align: center; padding: 0px 0px;}

#header h1 {
	margin: 0;
	font-size: 2em;
	font-family: Verdana, Helvetica, sans-serif;
}

#header p {
	margin: 0;
	margin-top: 8px;
	font-size: 1em;
}
