<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>jdbcDriverName</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcConnectParam</param-name>
    <param-value>jdbc:postgresql://localhost:5432/traning_report</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUserId</param-name>
    <param-value>userid</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPwd</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>connectionSize</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>waitTime</param-name>
    <param-value>500</param-value>
  </context-param>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>jp.logware.custmer.action.BaseActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>nocache</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>jp.logware.custmer.common.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>